[Unit]
Description=Kubedom customer node manager
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/bin/python3 /opt/kubedom/customer-node-manager/main.py
#Dont work
#StandardOutput=file:/var/log/kubedom/app.log
#StandardError=file:/var/log/kubedom/error.log

[Install]
WantedBy=multi-user.target