[Unit]
Description=Kubedom customer node manager
After=network.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=10
User=root
ExecStart=/usr/bin/sh /opt/kubedom/customer-node-manager/start-service.sh
PIDFile=/run/customer-node-manager.pid
#Dont work
#StandardOutput=file:/var/log/kubedom/app.log
#StandardError=file:/var/log/kubedom/error.log

[Install]
WantedBy=multi-user.target