<script>
    check_auth()
</script>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="navbar-brand" href="/homepage">
        <img src="/img/kubernetes.png" width="30" height="30" alt="">
    </a>
    <h5 class="my-0 mr-md-auto font-weight-normal">Kubedom</h5>
    <a class="nav-item nav-link" href="/homepage">Мои узлы</span></a>
    <a class="nav-item nav-link" href="/homepage">Арендованные узлы</a>
    <a class="nav-item nav-link" href="/homepage">Мои кластеры</a>
    <a class="btn btn-outline-primary" onclick="logout()">Выйти</a>
</div>
