<div class="container bootstrap snippets bootdey" id="content">
    <div class="row">
        <div class="col-md-3">
            <div class="bg-primary panel p-3 rounded">
                <div class="user-heading round">
                    <a href="#" class="bg-transparent">
                        <img class="rounded-circle img-thumbnail" src="https://www.pinclipart.com/picdir/middle/379-3797946_software-developer-computer-servers-web-others-web-developer.png" alt="">
                    </a>
                    <h1 class="text-white" id="user-login">Login</h1>
                    <p class="text-white">example@example.com</p>
                </div>

<!--                <ul>-->
<!--                    <li class="active"><a href="#"> <i class="fa fa-user"></i> Profile</a></li>-->
<!--                    <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity </a></li>-->
<!--                    <li><a href="#"> <i class="fa fa-edit"></i> Edit profile</a></li>-->
<!--                </ul>-->
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel border-bottom mb-4">
                <h4 class="text-primary">Мои узлы</h4>
            </div>
            <div class="panel border-bottom mb-4">
                <h4 class="text-primary">Арендованные узлы</h4>
            </div>
            <div class="panel mb-4">
                <h4 class="text-primary">Мои кластеры Kubernetes</h4>
            </div>
        </div>
    </div>
</div>
<script>
    load_page(load_homepage)
</script>